/*
 *	Conseil de mélange de couleur 
 * 	en fonction du site demandé
 * 	--> destination enfant différence de teinte mais même valeur même saturation (jaune pétant, rouge pétant, bleu pétant)
 * 	--> destination biologie différence de saturation mais même valeur "vert d'eau" "vert pétant"
 * 	
 * 	--> colorjack.com
 * 
 * 	couleur de fond et couleur toniques
 * 	
 * 	a éviter les couleurs analogues qui se suivent sur le cercle chromatique
 * 	a éviter les couleurs opposées
 * 	
 * 	opposées secondaire 
 * 
 * 	deux choix pour mettre en évidence soit couleur opposée comme sur le bon coin
 * 	ou alors on augmente la luminositée
 * 
 */
 
/**********************************************************************/
/* 							STRUCTURE DU SITE 					      */
/**********************************************************************/

body { 
		width:auto;
		height:auto;
		margin:0% 5% 0% 5%;
		font-family:Verdana,Calibri,Arial;
		font-size:0.9em;
		position:relative;
        z-index:0;
}

table {
	font-family:Verdana,Calibri,Arial;
	font-size:0.9em;
	
	text-align:center; 
	padding:0px; 
	border-spacing:0; 
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	-khtml-border-radius:5px;		
	border: 1px solid black;

}

#header	{
	position:relative;
	height:200px;
	background-color:#00759E;
	/*background-image:url('../template/logo.png');
	background-repeat: no-repeat no-repeat;*/
}

#login	{
	position: relative;
	float:right;
	background-color:#00BDFF;
	padding:5px;
} 	

.login input {
	float:left;
	clear:left;
	width:150px;
}


#menu 	{
	float:left;
	clear:left;
	width:100%;
	height:auto;
	background-color:#009E30;
}
#liens  { 
	background-color:#00DA42;
	float:left;
}		

#contenu { 
	float:left;
	clear:both;
	width:100%;
	margin-top:2%;
	/*background-color:#FFD75F;	*/
	border: 3px solid #66aa22;
	box-shadow: 8px 8px 0px #dddddd; 
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	-khtml-border-radius:5px;
}
		
#zonemessage{ 
	float:left;
	width:100%;
	clear:both;
}

#zonemessage .ok {
	background-color:#70cf49;
	border:0px solid #70cf49;  
}
#zonemessage .erreur {
	background-color:#fc4970;
	border:0px solid #fc4970;  
}
#zonemessage .info {
	background-color:#4970fc;
	border:0px solid #4970fc;
}

/**********************************************************************/
/* 								UTILS								  */
/**********************************************************************/

input:focus {
/*
			background-color:#ecffb8;
*/
			}

input{
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	-khtml-border-radius:5px;		
	float:left;
}

select{
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	-khtml-border-radius:5px;
	float:left;
}			

.floatleft{float:left;}
.floatright{float:right;}


div{
	border:0px dashed gray;
	width:auto;
}

label{
	float:left;
	clear:left;
	width:100px;
	margin:10px;
}
		
fieldset{
	float:left;
	background-color:#FFFFFF;
	border:2px solid black;
	margin:3% 1% 3% 1%;
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	-khtml-border-radius:5px;		
} 

fieldset fieldset{
	float:left;
	background-color:#FFF;
	border:2px solid #88bb33;
	margin:3% 1% 0% 1%;
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	-khtml-border-radius:5px;		
} 

legend{
	background-color:#FFFFFF;
	border:1px solid black;
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	-khtml-border-radius:5px;	
} 

.clear{clear:both; border:none;}

.endform{float:left; clear:both; margin-left:220px; width:auto;}

